<div id="header-container">
    <div>
        <img id="text-logo" src="../../../../assets/AntraShare_text_logo.png" />
    </div>
    <div id="navBar" *ngIf="isLoggedIn">
        <div (click)="navigateTo('profile')" class="navBtn">My Profile</div>
        <div (click)="navigateTo('newsfeed')" class="navBtn">NewsFeed</div>
        <div (click)="navigateTo('setting')" class="navBtn">Settings</div>
    </div>
    <div id="user-status-section">
        <ng-container *ngIf="isLoggedIn && !isAdmin">
            Hello, username
        </ng-container>
        <ng-container *ngIf="isLoggedIn && isAdmin">
            <div (click)="navigateTo('')" class="adminBtn" *ngIf="isAdmin">Admin</div>

        </ng-container>

    </div>
</div>