@use './../../../../styles' as s

#header-container
    display:flex
    flex-direction: row
    height:50px
    background-color: s.$primary-color
    justify-content: space-between

#logo
   
#user-status-section
   

