@use './../../../../styles' as s

#header-container
    height:60px
    background-color: s.$primary-color

// #logo
//     display: inline-block
//     width: 100px
//     position: absolute
//     left: 10px
//     margin-top: 15px
   
#user-status-section
    width: 100px
    display: inline-block
    position: absolute
    right: 10px
    margin-top: 15px

#text-logo
    height: 50px
    display: inline-block
    position: absolute
    padding-top: 8px
    padding-left: 8px
   

