<img src="../../../../assets/AntraShare_footer_background.jpeg">
<div id="footer-container">
    <div>
        <h3>Corporate Office</h3>
        <div>21000 Atlantic Bvld</div>
        <div>#300</div>
        <div>Sterling, VA 20166</div>
        <div>Ph: 703 994 4545</div>
        <div>email: info@antra.com</div>
    </div>
    <div>
        <h3>Services</h3>
        <div>Technology Services</div>
        <div>Business Advisory Services</div>
        <div>Professional Services</div>
        <div>Blog</div>
        <div>About Us</div>
        <div>Contact Us</div>
        <div>UHC Transparency in Coverage</div>
    </div>
    <div>
        <h3>Resources</h3>
        <div>Case Studies</div>
        <div>White Papers</div>
        <div>Technology Resources</div>
        <div>Top Technology Trends 2017</div>
        <div>Agile Transformations</div>
        <div>Web & Mobile Application Development</div>
    </div>
    <div>
        <h3>Our Locations</h3>
    </div>
</div>
<div id="copyright">© 2022 Antra, Inc. , A TechWish Company All Rights Reserved.</div>